/* App.css */

/* 전체 컨테이너 */
.app-container {
  max-width: 1000px;
  min-width: 700px;
  margin: 50px auto;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  font-family: 'Pretendard', -apple-system, sans-serif;
}

/* 제목 영역 */
 h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
} 

/* 할 일 입력 영역 */
.input-group {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.input-group input {
  flex: 1;
  padding: 12px;
  border: 2px solid #eee;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

.input-group input:focus {
  border-color: #4A90E2;
}

/* 등록 버튼 */
.add-btn {
  padding: 10px 20px;
  background-color: #4A90E2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s;
} 

.add-btn:hover {
  background-color: #4caf50;
  color: #e8f5e9;
}

/* 리스트 영역 */
.todo-list {
  list-style: none;
  padding: 0;
}

/* 한 줄 전체 영역 */
.todo-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #f0f0f0;
  transition: background 0.2s;
}

.todo-item:hover {
  background-color: #96e798;
  color: #004911;
}

/* 글자 영역 */
.todo-content {
  flex: 1;
  /* margin: 0 15px; */
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.todo-tno {
  font-size: 0.85em;
  color: #4A90E2;       /* 신뢰감을 주는 파란색 */
  background-color: #eef6ff; /* 연한 하늘색 배경 */
  padding: 2px 8px;
  border-radius: 4px;
  margin-right: 10px;   /* 제목과의 간격 */
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace; /* 숫자니까 코드 느낌 나는 폰트 */
}

/* 완료 시 번호 색상도 흐리게 */
.completed .todo-tno {
  background-color: #f0f0f0;
  color: #ccc;
}

/* 할 일 title 영역 */
.todo-title {
  font-size: 1.3em;
  font-weight: 500;
}

/* 날짜 영역이 있어야 todo-content에서 flex-direction: column;로 title과 날짜를 세로로 이쁘게 정렬 */
.due-date {

}

/* 완료 상태 스타일 */
.completed .todo-title {
  text-decoration: line-through;
  color: #ff0000;
}

/* 삭제 버튼 */
.delete-btn {
  background-color: #fff;
  color: #ff5252;
  border: 1px solid #ff5252;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9em;
  transition: all 0.2s;
} 

.delete-btn:hover {
  background-color: #ff5252;
  color: #fff;
}

.todo-item.completed {
  background-color: #e8f5e9; 
  border-left: 5px solid #4caf50; 
  transition: all 0.3s ease; 
}

.completed .due-date {
  color: #aaa;
}